@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: antiquewhite;
    margin: 100px;
}

h1 {
    color: blue;
    font-family: "Edu NSW ACT Hand Pre";
}

img {
    max-width: 300px;
    
}

.hide {
    display: none;
}